notebook
isort
mlx>=0.25.0
mlx-lm>=0.23.0
mlx-vlm>=0.1.25
torch
torchvision
torchaudio
transformers
datasets
numpy
matplotlib
tqdm
poppler-utils
pdf2image
qwen_vl_utils
ocrmac
joblib
pytorch_lightning
wandb>=0.12.10
tensorboard